/* Encabezado de la Pagina EBay */

div.header{
    display: flex;
    position: relative;
    top:0%;
    left:0%;
    width: 100%;
    padding-left: 10%;
    padding-bottom: 0.4%;
    align-self: center;
}

div.searchbar{
    display: flex;
    border-bottom: solid darkgray 1px;
    border-top: solid darkgray 1px;
    align-items: center;
    align-self: center;
}

button.buyCtg{
    align-items: center;
    background-color: initial;
    border: 0;
    color: gray;
    cursor: pointer;
    width: 5%;
    display: flex;
    font-family: "Market Sans",Helvetica,sans-serif;
    text-decoration: none;
    margin-right: 20px;
    text-align: left;
}

.logo{
    padding-left: 5%;
    margin: 10px;
}

button.search{
    color: white;
    background-color: #0968F6;
    border-radius: 30px;
    padding: 15px;
    margin-left: 10px;
    width: 10%;
    align-self: center;
    height: 60%;
    font-weight: bold;
}

button.search:hover{
    background-color: blue;
}

input.searchInput{
    width: 45%;
    height: 100%;
    border-radius: 40px;
    align-self: center;
    border: solid black 3px;
    padding: 15px;
    font-size: 20px;

}

.fill{
    padding: 10px;
}

p.Hdelement{
    position:absolute;
    top: 1px;
}

.hov:hover{
    cursor: pointer;
}

p#location{
    left:59%;
}

p#sell{
    left:65%;
}

p#favorites{
    left:70%;
}

p#menu{
    left:85%;
}

p#cart{
    right:2%;
}

.background-container-relationated{
    position: relative;
}

.div-container-relationated{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;

    left: 20%;
}

#relationated-options{
    margin-right: 20px;
}

.options{
    margin-right: 20px;
    font-size: large;
}

.container-include-description{
    position: relative;
    display: flex;
    align-items: center;
}

#btn-include-description{
    margin-right: 0px;
    border: 0px;
    background-color:#f7f7f7;
}

/* Corresponde a HTML Carro de Compras(3) */
div#principal-layout{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div#shopping-cart-title{
    position: relative;
    display: flex;
    
    margin: 1.5%;
    margin-bottom: 0;
    height: fit-content;
    width: fit-content;

    border-bottom: 1px lightgray solid;
}

div#shopping-cart-content{
    position: relative;
    display: flex;
    flex: 1;
    
    margin: 20px;
    gap: 20px;
}

div#shopping-cart-items{
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 60%;
}

div.shopping-cart-product-model{
    position: relative;
    display: flex;
    flex-direction: column;

    border: 1px lightgray solid;
    border-radius: 35px;

    margin-bottom: 20px;
}

div.products-seller{
    position: relative;
    display: flex;
    align-items: center;

    width: fit-content;

    gap: 15px;
    margin: 15px;

}

div.sales-person-name2{
    position: relative;
    display: flex;

    flex-direction: column;
    justify-content: center;
}

div.sales-person-img2{
    border-radius: 50%;
    background-color: lightgray;
    border: 1px dashed gray;

    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
}

.sellers-name{
    /* text-decoration: underline; */
    font-size: large;
}

.positive-comentaries{
    color: gray;
    font-style: oblique;
    font-size: large;
}

div.product-information{
    position: relative;
    display: flex;
    
    gap: 2.5%;
    margin-bottom: 2%;
    /* height: 75%; */

}

div.product-image{
    position: relative;
    flex: 1;
    
    height: 100%;
    aspect-ratio: 1/1;
    margin-left: 2%;
    border-radius: 15px;
    background-color: lightgray;
    border: 1px dashed gray;
}

.producto-condition-name{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    gap: 5%;
    border-radius: 15px;
    /* border: 1px dashed gray; */
}

.product-information2{
    font-size: larger;
}

.product-condition{
    font-size: larger;
    color: gray;
    font-style: italic;
}

.product-information-content2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    flex: 1;

    gap: 5%;

    /* border-radius: 15px;
    background-color: lightgray;
    border: 1px dashed gray; */
}

.quantity-product-container{
    position: relative;
    display: flex;
    flex-direction: column;

    gap: 5%;

}

.quantity-product-number2{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: x-large;
    /* width: fit-content; */

    background-color: FFFFFC;
    border: 1px dashed gray;

    padding-left: 5px;
    padding-right: 5px;

}

.agent-intermediate-ship{
    font-size: larger;
    color: gray;
}

.price-total-by-product{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-end;

    flex: 1;
    
    gap: 5%;
    margin-right: 2%;

    /* border-radius: 15px;
    background-color: lightgray;
    border: 1px dashed gray; */
}

.price-product{
    font-size: x-large;
}

.devolution-politics{
    font-size: large;
    text-align: right;
    width: fit-content;
}

#shopping-payment{
    position: sticky;
    display: flex;
    flex-direction: column;

    top: 20px;
    padding: 20px;

    width: 39%;
    height: fit-content;
    background-color: rgb(247, 247, 247);
    border-radius: 35px;
}

#before-payment{
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

#items-shopping{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
}

#ship-shopping{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
}

#discount-shopping{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
}

#subtotal-container{
    position: relative;
    display: flex;
    justify-content: space-between;

    font-size: x-large;
    width: 100%;

    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

#payment{
    position: relative;
    display: flex;
    flex-direction: column;

    gap: 30px;
    width: 100%;
    /* margin-bottom: 20px;
    padding-bottom: 20px; */
}

#btn-complete-transaction{
    padding: 15px;
    background-color: #0968F6;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: x-large;
}